* {
  margin: 0px;
  padding: 0px; }

/* NavBar */
.navbar-brand-style {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 35px; }

.navbar-color {
  background-color: #42C2A0; }
  .navbar-color a {
    color: white; }

/* Carousel */
.img-slide {
  width: 100%;
  height: 620px; }

/* Div pasos */
.seccionPasos--colorpaso1 {
  background-color: #ec8f6e; }

.seccionPasos--colorpaso2 {
  background-color: #db714a; }

.seccionPasos--colorpaso3 {
  background-color: #e65e2d; }

.seccionPasos--colorpaso4 {
  background-color: #993c1a; }

.seccionPasos {
  margin-top: 100px;
  margin-bottom: 50px; }

.seccion {
  padding: auto;
  text-align: center;
  transition: all 1s; }
  .seccion:hover {
    opacity: 80%; }
  .seccion .seccion__titulo {
    color: white; }

/* Footer */
.footer {
  background-color: #46947f; }
  .footer .container nav div ul li {
    list-style-type: none; }
    .footer .container nav div ul li a {
      text-decoration: none;
      color: white; }

.copy {
  text-align: center;
  color: white; }

#tituloBuscar {
  font-size: 50px;
  color: black;
  text-align: center;
  margin-top: 40px;
  font-family: "Inter", sans-serif; }

.mapa {
  margin-top: 40px; }

.seccion .seccion__article .seccion__article__titulo {
  margin-top: 200px;
  text-align: center; }

.seccion .seccion__table {
  margin-left: 38%;
  margin-bottom: 40px; }

.seccion {
  margin-top: 100px;
  margin-bottom: 50px;
  padding: 30px;
  text-align: center; }

.seccionPasos h1 {
  font-size: 40px;
  font-family: "Inter", sans-serif; }

.seccionPasos p {
  font-size: 20px; }

.formulario__formContacto {
  margin: 50px 0px 50px 50%;
  border: gray solid 1px;
  border-radius: 6px;
  padding: 20px; }

@media (max-width: 425px) {
  .titulo-seccion {
    font-size: 30px; }
  .formulario__formContacto {
    margin: 20px 10px 20px 20px; }
  footer div {
    padding: 5px;
    text-align: center; }
  footer h1 {
    font-size: 20px; }
  footer ul li {
    font-size: 15px; }
  footer div .row {
    justify-content: center; }
  footer div ul li a img {
    height: 20px;
    width: 20px; }
  #tituloBuscar {
    font-size: 30px; }
  .mapa {
    height: 200px;
    width: 500px; }
  div h3 {
    font-size: 25px;
    margin-top: 40px;
    text-align: center; }
  .seccionPasos {
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 30px;
    text-align: center; }
  .seccionPasos h1 {
    font-size: 25px; }
  .seccionPasos p {
    font-size: 15px; } }

@media (max-width: 1023px) and (min-width: 426px) {
  .formulario__formContacto {
    margin: 50px 10px 50px 20px; }
  footer div {
    margin-top: 20px; }
  footer h1 {
    font-size: 20px; }
  footer ul li {
    font-size: 15px; }
  footer div .row {
    justify-content: left; }
  footer div ul li a img {
    height: 30px;
    width: 30px; } }

@media (max-width: 1440px) and (min-width: 1024px) {
  .formulario__formContacto {
    margin: 100px 250px 100px 250px; }
  footer div {
    margin-top: 20px; }
  footer h1 {
    font-size: 30px; }
  footer ul li {
    font-size: 20px; }
  footer div .row {
    justify-content: left; }
  footer div ul li a img {
    height: 30px;
    width: 30px; } }
