@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Nunito:wght@200&display=swap");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
* {
  margin: 0px;
  padding: 0px; }

/* NavBar */
nav {
  color: #fee8a0; }
  nav a img {
    margin-top: 10px; }
  nav h1 {
    font-family: 'Fredoka One', cursive; }
  nav p {
    font-family: 'Nunito', sans-serif; }

.navbar {
  background-color: #424258 !important; }
  .navbar .nav-item a {
    font-family: 'Nunito', sans-serif;
    color: #fee8a0 !important; }
    .navbar .nav-item a:hover {
      text-decoration: underline; }

/* Carousel */
#myCarousel {
  width: 100%;
  height: 600px; }
  #myCarousel .img-slide {
    width: 100%;
    height: 620px; }
  #myCarousel .carousel-caption h1 {
    padding-bottom: 10px;
    -webkit-text-stroke: 1px white;
    font-family: 'Fredoka One', cursive;
    color: #1e1e2e; }
  #myCarousel .carousel-caption p {
    font-family: 'Nunito', sans-serif;
    color: #1e1e2e; }

#sectionPrincipal {
  margin-top: 200px;
  margin-bottom: 500px; }
  #sectionPrincipal #sectionPrincipal_Index h2 {
    font-size: 40px;
    font-family: 'Fredoka One', cursive; }
  #sectionPrincipal #sectionPrincipal_Index p {
    font-size: 20px;
    font-family: 'Nunito', sans-serif; }
  #sectionPrincipal #sectionPrincipal_Index a {
    text-align: center; }
  #sectionPrincipal .requisitos li {
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: bold; }
  #sectionPrincipal li a {
    margin-left: 42%; }

/* Footer */
section {
  padding: 60px 0; }

#footer {
  background: #2e2e41; }
  #footer h5 {
    padding-left: 10px;
    border-left: 3px solid #ffffff;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color: #ffffff; }
  #footer a {
    color: #ffffff;
    text-decoration: none; }
  #footer ul.list-items li:hover {
    font-weight: 700; }
  #footer ul.list-items li a {
    color: #ffffff; }
  #footer ul.social li a:hover {
    color: #eeeeee; }

@media (max-width: 767px) {
  #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px; } }

@media (max-width: 425px) {
  .navBarLogo {
    height: 150px; }
    .navBarLogo nav a img {
      width: 100px;
      height: 60px; }
    .navBarLogo nav h1 {
      font-size: 30px; }
    .navBarLogo nav p {
      font-size: 10px; }
  #myCarousel {
    height: 150px; }
    #myCarousel .carousel-item img {
      height: 200px; }
    #myCarousel .carousel-item .container {
      padding-top: 50px; }
      #myCarousel .carousel-item .container div h1 {
        font-size: 25px; }
      #myCarousel .carousel-item .container div p {
        display: none; }
  #sectionPrincipal {
    margin-top: 40px;
    margin-bottom: 600px; }
    #sectionPrincipal #sectionPrincipal_Index h2 {
      font-size: 25px; }
    #sectionPrincipal #sectionPrincipal_Index p {
      font-size: 18px; }
    #sectionPrincipal .requisitos li {
      list-style-type: none; }
    #sectionPrincipal li a {
      margin-left: 0%; } }

@media (min-width: 426px) and (max-width: 768px) {
  #myCarousel {
    height: 500px; }
    #myCarousel .carousel-item img {
      height: 500px; }
    #myCarousel .carousel-item .container {
      padding-top: 50px; }
      #myCarousel .carousel-item .container div h1 {
        font-size: 40px; }
      #myCarousel .carousel-item .container div p {
        font-size: 20px; }
  #sectionPrincipal {
    margin-top: 350px;
    margin-bottom: 500px; }
    #sectionPrincipal #sectionPrincipal_Index h2 {
      font-size: 30px; }
    #sectionPrincipal #sectionPrincipal_Index p {
      font-size: 15px; }
    #sectionPrincipal .requisitos li {
      margin-left: 120px; } }

.carousel-caption h1 {
  padding-bottom: 10px;
  font-size: 60px;
  font-family: 'Fredoka One', cursive;
  color: #1e1e2e;
  -webkit-text-stroke: 1px white; }

.carousel-caption p {
  font-family: 'Nunito', sans-serif;
  font-size: 30px;
  color: white; }

.info {
  padding-left: 0%;
  padding-right: 0%; }
  .info img {
    margin-left: 100px; }
  .info h2 {
    margin-top: 40px;
    text-align: center;
    color: #2e2e41;
    text-decoration: overline;
    font-size: 40px;
    font-weight: bold; }
  .info p {
    text-align: center;
    font-size: 20px;
    color: #2e2e41; }

@media (max-width: 320px) {
  .info img {
    margin-left: 40px; } }

@media (max-width: 375px) and (min-width: 321px) {
  .info img {
    margin-left: 70px; } }

@media (min-width: 376px) and (max-width: 425px) {
  .info img {
    margin-left: 90px; } }

@media (min-width: 426px) and (max-width: 768px) {
  #myCarousel__Colaborar {
    height: 450px; }
    #myCarousel__Colaborar .carousel-inner img {
      height: 450px; }
    #myCarousel__Colaborar .carousel-caption h1 {
      font-size: 40px; }
    #myCarousel__Colaborar .carousel-caption p {
      font-size: 25px; }
  .info img {
    margin-left: 80px; }
  #home {
    margin-left: 270px; } }

#myCarousel {
  height: 500px; }
  #myCarousel h1 {
    font-size: 60px; }

.nav-item-adopcion {
  text-align: center; }
  .nav-item-adopcion h2 {
    font-size: 40px; }
  .nav-item-adopcion p {
    font-size: 20px; }

@media (max-width: 425px) {
  #myCarousel {
    height: 180px; }
    #myCarousel h1 {
      font-size: 30px; }
  #galeria {
    margin-top: 120px; } }

@media (min-width: 426px) and (max-width: 768px) {
  #myCarousel {
    height: 250px;
    margin-bottom: 350px; }
    #myCarousel h1 {
      font-size: 30px; } }

@media (min-width: 769px) and (max-width: 1024px) {
  #myCarousel {
    height: 310px; }
    #myCarousel h1 {
      font-size: 40px; } }

.marketing {
  margin-top: 100px; }
  .marketing .featurette h2 {
    font-size: 60px;
    color: #2e2e41; }
  .marketing .featurette p {
    font-size: 22px; }
  .marketing .featurette .featurette-heading {
    margin-top: 25px; }

.color {
  color: black; }

ul.nav {
  margin-top: 100px;
  height: 100px; }
  ul.nav .nav-item {
    margin-left: 10px; }
    ul.nav .nav-item .nav-link:hover {
      background-color: #1c1c29;
      text-decoration: none; }

@media (max-width: 425px) {
  .marketing {
    margin-top: 100px; }
    .marketing .featurette h2 {
      font-size: 40px;
      color: #2e2e41; }
    .marketing .featurette p {
      font-size: 22px; }
    .marketing .featurette .featurette-heading {
      margin-top: 25px; }
  ul.nav {
    height: 150px; }
    ul.nav li h2 {
      font-size: 30px; } }

#titulo_formulario {
  margin: 30px 30px 0px 30px; }
  #titulo_formulario ul li {
    list-style-type: none; }
    #titulo_formulario ul li h2 {
      text-align: center;
      font-size: 40px;
      font-family: 'Fredoka One', cursive;
      color: #1e1e2e; }
    #titulo_formulario ul li p {
      font-size: 40px;
      font-family: 'Nunito', sans-serif;
      color: #1e1e2e; }

.formulario__formContacto {
  margin-bottom: 50px; }
  .formulario__formContacto .btn-primary {
    background-color: #2e2e41;
    border-color: #2e2e41; }

@media (max-width: 425px) {
  #titulo_formulario ul li h2 {
    font-size: 25px; }
  #titulo_formulario ul li p {
    font-size: 15px; } }

@media (max-width: 768px) and (min-width: 426px) {
  #titulo_formulario ul li p {
    font-size: 30px; } }
