@import "variables";

#myCarousel {
    height: 500px;
    h1 {
        font-size: 60px;
    }
}

.nav-item-adopcion {
    text-align: center;
    h2 {
        font-size: 40px;
    }
    p {
        
        font-size: 20px;
    }
        
}

@media (max-width: 425px) {
    
    #myCarousel {
        height: 180px;
        h1 {
            font-size: 30px;
        }
    }

    #galeria {
        margin-top: 120px;
    }
}

@media (min-width: 426px) and (max-width: 768px) {

    #myCarousel {
        height: 250px;
        margin-bottom: 350px;
        h1 {
            font-size: 30px;
        }
    }
}

@media (min-width: 769px) and (max-width:1024px) {
    #myCarousel {
        height: 310px;
        h1 {
            font-size: 40px;
        }
    }
}




