@import "variables";

.card {
    margin: 100px 150px 100px 150px;
}

.nav-item-adopcion {
    text-align: center;
    h2 {
        font-size: 40px;
    }
    p {
        
        font-size: 20px;
    }
        
}