@import "variables";


.carousel-caption {
    
     h1 {
            font-size: 60px;
    }
    p {
        font-size: 20px;
    }
}




@media (max-width: 320px) {


    #myCarousel__Colaborar {


        .carousel-caption {
        
            h1 {
                font-size: 10px;
            }
        }
    }

    .colaborar {
        margin-left: 10px;
        margin-right: 10px;
        img {
           
            height: 250px;
            width: 250px;
        }

        .featurette-heading {
            font-size: 20px;
        }

        .lead {
            font-size: 15px;
        }
        
    }
}

@media (max-width: 768px) {

    .colaborar {
        margin-left: 10px;
        margin-right: 10px;
        img {
           
            height: 250px;
            width: 250px;
        }
    }
}