@import "variables";

.colaborar {
    margin: 30px 60px 100px 60px;

    img {
        margin-left: 32%;
    }
    
    h2 {
        text-align: center;
    }
    p {
        text-align: center;
    }
}

.carousel-caption {
    
     h1 {
            font-size: 50px;
    }
}




@media (max-width: 425px) {


    #myCarousel__Colaborar {

        margin-top: 60px;

        .carousel-caption {
        
            h1 {
                font-size: 10px;
            }
        }
    }

    .colaborar {
        margin-left: 10px;
        margin-right: 10px;
        img {
            margin-left: 37%;
            height: 100px;
            width: 100px;
        }

        .featurette-heading {
            font-size: 20px;
        }

        .lead {
            font-size: 15px;
        }
        .btn {
            font-size: 11px;
        }
    }
}

@media (max-width: 1023px) and (min-width: 768px) {
    
    .colaborar {
        img {
          margin-left: 39%;
        }
    }
    
}
