@import "variables";

.marketing {
    margin-top: 100px;
    
    .featurette {
        h2 {
            font-size: 60px;
            color: #2e2e41;
        }
        p {
            font-size: 22px;
        }
        .featurette-heading {
            margin-top: 25px;
            
        }
    }  
}

.color {
    color: black;
}

ul.nav {
    margin-top: 100px;
    height: 100px;
    .nav-item {
        margin-left: 10px;
        .nav-link:hover {
            background-color: #1c1c29;
            text-decoration: none;
        }
    }
}

@media (max-width: 425px) {

    .marketing {
        margin-top: 100px;
        
        .featurette {
            h2 {
                font-size: 40px;
                color: #2e2e41;
            }
            p {
                font-size: 22px;
            }
            .featurette-heading {
                margin-top: 25px;
                
            }
        }  
    }

    ul.nav {
        height: 150px;
        li {
            h2 {
                font-size: 30px;
            }
        }
    }
}